<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>
<div class="container">
<h1>用户信息</h1>
    <div class="text-left">
        <a class="btn btn-info" th:href="@{/toAdd}">add</a>

    </div>
<!--展示-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>姓名</th>
        <th>部门</th>
        <th>入职日期</th>
        <th>岗位</th>
        <th>职责</th>
        <th>操作1</th>
        <th>操作2</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userid}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.userbum}"></td>
        <td th:text="${user.userdate}"></td>
        <td th:text="${user.usergangw}"></td>
        <td th:text="${user.userzhiz}"></td>
        <td>
            <a th:href="@{/selectUserById(userid=${user.userid})}">update</a>
        </td>
        <td>
            <a th:href="@{/deleteUser(id=${user.userid})}">delete</a>
        </td>

    </tr>

    </tbody>


</table>



</div>
</body>
</html>